<div id="main-menu-mobile" class="main-menu-mobile">
  {% assign mainmenu = site.data.menus.main | sort: 'weight' %}
  <ul>
    {% for item in mainmenu %}
    <li class="{% if item.url == page.url %}active{% endif %} {% if item.sublinks %}has-sublinks{% endif %}">
      <div class="link-row">
        {% if item.sublinks %}
          <a href="javascript:void(0)">{{ item.name }}</a>
          <span class="toggle-icon-mobile-menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </span>
        {% else %}
          <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
        {% endif %}
      </div>

      {% if item.sublinks %}
      <ul class="sidebar-submenu" style="display: none;">
        {% for subitem in item.sublinks %}
        <li class="{% if subitem.sublinks %}has-grandchild{% endif %}">
          <div class="link-row">
            {% if subitem.sublinks %}
              <a href="javascript:void(0)">{{ subitem.name }}</a>
              <span class="toggle-icon-mobile-menu grandchild-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
              </span>
            {% else %}
              <a href="{{ subitem.url | relative_url }}">{{ subitem.name }}</a>
            {% endif %}
          </div>
          
          {% if subitem.sublinks %}
          <ul class="sidebar-submenu grandchild-menu" style="display: none;">
            {% for grandson in subitem.sublinks %}
              <li><a href="{{ grandson.url | relative_url }}">{{ grandson.name }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  
  <div class="mobile-menu-footer">
    <p>Phone: {{ site.data.contact.phone }}</p>
    <p>Email: {{ site.data.contact.email }}</p>
  </div>
</div>