<div id="main-menu" class="main-menu">
  {% assign mainmenu = site.data.menus.main | sort: 'weight' %}
  <ul>
    {% for item in mainmenu %}
    <li class="{% if item.url == page.url %}active{% endif %} {% if item.sublinks %}has-dropdown{% endif %}">
      {% if item.sublinks %}
        <a href="javascript:void(0)">{{ item.name }}</a>
        <i class="fas fa-chevron-down ml-1"></i>
      {% else %}
        <a href="{{ item.url | relative_url }}">
          {{ item.name }}
        </a>
      {% endif %}

      {% if item.sublinks %}
      <ul class="dropdown-menu">
        {% for subitem in item.sublinks %}
        <li class="{% if subitem.sublinks %}has-submenu{% endif %}">
          {% if subitem.sublinks %}
            <a href="javascript:void(0)">{{ subitem.name }}</a>
            <i class="fas fa-chevron-right float-right mt-1"></i>
          {% else %}
            <a href="{{ subitem.url | relative_url }}">
              {{ subitem.name }}
            </a>
          {% endif %}

          {% if subitem.sublinks %}
          <ul class="submenu">
            {% for grandson in subitem.sublinks %}
            <li><a href="{{ grandson.url | relative_url }}">{{ grandson.name }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      
    </li>
    {% endfor %}
  </ul>
</div>